//
// Variables
// --------------------------------------------------


// Global values
// --------------------------------------------------


// greys
// -------------------------

$darker-grey = #616161;
$dark-grey = #828282;
$grey = #B3B3B3;
$light-grey = #DDDDDD;
$lighter-grey = #ECF0F1;


// Palette
// -------------------------

$dark-blue = #2E4350;
$blue = #4766B5;
$light-blue = #42B2E3;
$white = #fff;
$light-red = #F55A42;


// Mixins
// --------------------------------------------------

// Background
// -------------------------

.background($color) {
  background-color: $color; 
}





